<div class="nested-fields form-style">
  <%= f.input :project %><br>
  <%= f.input :task, collection: Order::TASK_TYPES, prompt: 'Select a task' %><br>
  <%= f.input :description %><br>
  <%= f.input :rate, input_html: { min: '1', step: 'any' }  %><br>
  <%= f.input :hour, input_html: { min: '1', step: 'any' }  %><br>
  <i class="fa fa-trash"></i><%= link_to_remove_association(" Remove line", f) %>
</div>