<%= simple_form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-style">
  <%= f.input :order_number %><br>
  <h2>Details</h2>
  <div id="details">
    <%= f.simple_fields_for :details do |detail| %>
      <%= render 'detail_fields', f: detail %>
    <% end %>
    <div class="links">
      <i class="fa fa-plus-square-o"></i><%= link_to_add_association(" Add Detail", f, :details) %>
    </div>
  </div>
  <div class="field">
    <% if @order.updated_at? %>
      <%= f.input :created_at %><br>
    <% end %>
    <%= f.input :extra %><br>
    <%= f.input :other %><br>
    <%= f.input :currensy_type, :collection => ['ARS', 'EUR', 'USD'] %><br>
    <%= f.input :charge %>
  </div>
  <div class="form-style">
    <h2>Clients</h2>
    <%= f.select :client_id, options_for_select(current_user.clients.pluck(:name, :id))%><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
