<h1>Listing Orders</h1>

<table class="box-shadow">
  <thead>
    <tr>
      <th>#</th>
      <th>Bill to</th>
      <th>Cliente Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_number %></td>
        <td><%= order.client.name %></td>
        <td><%= order.client.language %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<i class="fa fa-plus-square"></i>
<%= link_to 'New Order', new_order_path %>
