<p id="notice"><%= notice %></p>

<div id="invoice_preview">
  <div id="header">
    <div id="id_number">#<%= @order.id %></div>
    <div class="date">INVOICE <br> <%= @order.created_at.strftime("%B %d,%Y") %></div>
  </div>


  <div id="bill_to">
    <h2>Bill to:</h2>
    <% if @order.client %>
      <ul>
        <li><%= @order.client.name %></li>
        <li><%= @order.client.email %></li>
        <li><%= @order.client.organization %></li>
        <li><%= @order.client.address %></li>
        <li><%= @order.client.url %></li>
      </ul>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Project</th>
        <th>Task</th>
        <th>Description</th>
        <th>HS</th>
        <th>Rate</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @order.details.each do |detail| %>
        <tr>
          <th><%= detail.id %></th>
          <th><%= detail.project %></th>
          <th><%= detail.task %></th>
          <th><%= detail.description %></th>
          <th><%= detail.hour %></th>
          <th><%= detail.rate %></th>
          <th><%= detail.amount=((detail.hour)*(detail.rate)) %></th>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="pricing">
    <div id="notes">
      <div id="extra">
        <strong>Additional notes:</strong>
        <%= @order.extra %>
      </div>
      <div id="others">
        <strong>Others:</strong>
        <%= @order.other %>
      </div>
    </div>
    <div id="total">
      <ul>
        <li>Subtotal: <%= Detail.sum(:amount) %></li>
        <li>Others:</li>
        <li>TOTAL:</li>
      </ul>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
