<div id="invoice_preview">
  <%= wicked_pdf_image_tag 'insignia_header.png', class: "header_img" %>
  <div id="header">
    <div id="id_number">
      #<%= sprintf '%03d', @order.order_number %>
    </div>
    <div class="date">
      <ul>
        <li><b>INVOICE</b></li>
        <li><%= @order.created_at.strftime("%^B %d,%Y") %></li>
      </ul>
    </div>
  </div>


  <div id="bill_to">
    <div class="title"><h2><%= t 'invoice.bill_to_title' %></h2><i class="fa fa-file-text-o"></i></div>
    <% if @order.client %>
      <ul>
        <li><%= @order.client.name %> | <span class="email"><%= @order.client.email %></span></li>
        <li class="org-name"><%= @order.client.organization %></li>
        <li><%= @order.client.address %></li>
        <li><%= link_to @order.client.url, @order.client.url %></li>
      </ul>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th class="title" colspan="2"><%= t 'invoice.project' %></th>
        <th><%= t 'invoice.task' %></th>
        <th><%= t 'invoice.description' %></th>
        <th>HS</th>
        <th><%= t 'invoice.rate' %></th>
        <th><%= t 'invoice.amount' %></th>
      </tr>
    </thead>
    <tbody>
      <% @order.details.each_with_index do |detail, index| %>
        <tr>
          <th class="black_cell"><%= index + 1 %></th>
          <th><%= detail.project %></th>
          <th><%= detail.task %></th>
          <th><%= detail.description %></th>
          <th><%= detail.hour %></th>
          <th><%= number_to_currency detail.rate %></th>
          <th><%= number_to_currency detail.amount %></th>
        </tr>
      <% end %>
      <tr>
        <th class="black_cell" colspan="2"></th>
        <th class="black_cell"></th>
        <th class="black_cell"></th>
        <th class="black_cell"></th>
        <th class="black_cell"></th>
        <th class="black_cell"></th>
      </tr>
    </tbody>
  </table>

  <div id="pricing">
    <div id="notes">
      <div id="extra">
        <strong><%= t 'invoice.adds' %><br></strong>
        <%= @order.extra %>
      </div>
      <div id="others">
        <strong><%= t 'invoice.others' %><br></strong>
        <%= @order.other %>
      </div>
    </div>
    <div id="total">
      <table>
        <tr>
          <th class="no-style">Subtotal:</th>
          <th class="no-style"> <%= @order.currensy_type %> </th>
          <th><%= number_to_currency @order.subtotal %></th>
        </tr>
        <tr>
          <th class="no-style"><%= t 'invoice.others' %></th>
          <th class="no-style"> <%= @order.currensy_type %> </th>
          <th><%= number_to_currency @order.charge %></th>
        </tr>
        <tr>
          <th colspan="3" class="total-border no-style"></th>
        </tr>
        <tr>
          <th colspan="2" class="no-style iam-blue">TOTAL:</th>
          <th class="iam-blue"><%= number_to_currency @order.total %></th>
        </tr>
      </table>
    </div>
  </div>

  <footer>
    <h2 class="iam-blue"><%= t 'invoice.thank' %></h2>
    <ul>
      <li><i class="fa fa-laptop"> http://www.insignia4u.com</i> - 
      <i class="fa fa-envelope"> contacto@insignia4u.com</i> - 
      <i class="fa fa-google-plus-square"> /+insignia4u</i> - 
      <i class="fa fa-facebook-official"> /inisgnia4u</i> - 
      <i class="fa fa-twitter"> @insignia4u</i> - 
      <i class="fa fa-github"> /insignia4u</i></li>
      <li><i class="fa fa-map-marker"> Lamadrid 318, 4ºA, 5ºB, San Miguel de Tucumán, Tucumán, Argentina
</i> - 
      <i class="fa fa-phone"> +54 (381) 4202730
</i> - </li>
    </ul>
  </footer>
</div>
